<div class="footer-wrap">
    <footer class="footer">
        <div class="footer-content-left hide-on-mobile">
            <section class="footer-links">
                <h4>the BooK Hut</h4>
                <ul>
                    <li>Nosotros</li>
                    <li>Trabaja con nosotros</li>
                    <li>Politicas de privacidad</li>
                    <li>Terminos y condiciones</li>
                    <li>Contactanos</li>
                </ul>
            </section>
            <section>
                <h4>Mi cuenta</h4>
                <ul>
                    <li>Ingresa</li>
                    <li>Registrate</li>
                    <li>Estado de mi compra</li>
                    <li>Devoluciones</li>
                    <li>Suscribite a novedades</li>
                </ul>
            </section>
            <section>
                <h4>Guía de compras</h4>
                <ul>
                    <li>Atencion al cliente</li>
                    <li>Promociones</li>
                    <li>Costos y tiempos de entrega</li>
                    <li>Devoluciones</li>
                    <li>Cancelaciones</li>
                </ul>
        </div>
        
        <div class="footer-content show-on-mobile">        
            <section class="footer-links">
                <ul>
                    <li class="footer-links-mobile"><a href="#">Iniciar sesion/Crear cuenta</a></li>
                    <li class="footer-links-mobile"><a href="#">Mis pedidos</a></li>
                    <li class="footer-links-mobile"><a href="#">Contactanos</a></li>
                    <li class="footer-links-mobile"><a href="#">Promociones</a></li>
                    <li class="footer-links-mobile"><a href="#">Términos y Condiciones</a></li>
                </ul>
            </section>
            <div class="copyright">
                <p>Copyright @ 2022 theBooKHut Store</p>
            </div>
        </div>

    </footer>

</div>