<header class="common-header-navbar bg-dark-blue ">

    <div class="user-navbar">
        <ul class="left-user-navbar">
            <a href="/"><li><i class="fa-solid fa-house"></i></li></a>
            <a href=""><li><i class="fa-solid fa-envelope"></i></li></a>
        </ul>

            <% if (locals.isLogged) { %>

            <ul class="right-user-navbar">
                <li><i class="fa-solid fa-user"></i></li>
                <a href="/users/profile"><li>Hola! <%= locals.userLogged.name %></li></a>
                <li> / </li>
                <a href="/users/logout"><li>Logout</li></a>
            </ul>

            <% } else { %>

            <ul class="right-user-navbar">
                <li><i class="fa-solid fa-user"></i></li>
                <a href="/users/login"><li>Iniciar sesion</li></a>
                <li> / </li>
                <a href="/users/register"><li>Crear cuenta</li></a>
            </ul>

            <% } %>

    </div>
    
    <div>
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="keywords" placeholder="Buscar por titulo, autor..." class="search-form-input">
            <button type="submit" class="search-form-button"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <section class="center-section">
        <div class="menu-center-section">
            <a class="center-section-book" aria-label="mobile menu">
                <i class="fa-solid fa-book"></i>
            </button>
        </div>

        <div class="contenedor-logo">
            <a href="/">
            <img class="logo" src="/images/logo_the BooK Hut.png" alt="theBooKHutStore">
            </a>
        </div>

        <div class="search-form-hide-on-mobile">
            <form action="/search" method="GET" class="search-form-tablet">
                <input type="text" name="keywords" placeholder="Buscar por titulo, autor..." class="search-form-input">
                <button type="submit" class="search-form-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    
        <div class="menu-center-section">
            <i class="fa-solid fa-basket-shopping"></i>
        </div>
    </section>

    <nav class="main-header-navbar">
        <ul class="left-navbar">
            <li><a href="/categorias">Categorias</a></li>
            <li> / </li>
            <li><a href="/bestsellers">Más vendidos</a></li>
            <li> / </li>
            <li><a href="/mas-vendidos">Recomendados</a></li>
            <li> / </li>
            <li><a href="/products">Todos los libros</a></li>
        </ul>

        <div main-basket>
            <span>ARS$0,00</span>
            <span>0</span>
            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
        </div>


    </nav>

</header>