<!DOCTYPE html>
<html lang="en">



<!-- <%- include('partials/head', { title: 'Todos los productos' }) %> -->

<body>
    
    
    <h1>Crear pelicula</h1>
    <form action="/books/crear" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="">Autor</label>
            <input type="text" name="author">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price">
        </div>
        <div>
            <label for="">Descripción</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="">Editorial</label>
            <input type="text" name="publisher">
        </div>
        <div>
            <label for="">Categoria</label>
            <select name="Category">
                <% for (let i = 0; i < category.lenght; i++) { %>
                    <option value="<%= category[i].id %>">
                        <%= category[i].name %>
                    </option>
                <% } %>
            </select>
        </div>
    </form>
    <!-- footer -->
	<!-- <%- include('partials/footer') %> -->
	<!-- /footer -->
</body>
</html>     

