<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head.ejs', { title: 'Inicia sesión' }) %>

<!--Body-->

<body>

<!--Header-->

    <%- include('partials/header.ejs') %>

<!--Main-->
    
    <main class="main-form">
        <div class="main-form-container">
            <div class="main-box">
                <div class="main-form-gap">

                    <div class="section-title">
                        <h2>Inicia sesión en the BooK Hut</h2>
                    </div>

                    <div class="form-container">

                        <form action="/users/login" method="POST" class="form">

                            <div class="errors">
                                <ul>
                                    
                                </ul>
                            </div>

                            <div class="group-form">
                                <div class="group-label">
                                    <label class="label" for="email" >Ingresa tu correo electrónico</label>
                                </div>
                                <input type="email" name="email" id="email" placeholder="Correo electrónico" class="email" required><br>
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger-validation">
                                        <%= errors.email.msg %>
                                    </div>
                                <% } %>
                            </div>

                            <div class="group-form">
                                <div class="group-label">
                                    <label class="label" for="password">Ingresa tu contraseña</label>
                                </div>
                                <input type="password" name="password" placeholder="Contraseña" class="password" minlength="6" maxlength="30" required minlength="6" maxlength="30"><br>
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger-validation">
                                        <%= errors.password.msg %>
                                    </div>
                                <% } %>
                            </div>

                            <div>
                                <a href="#" class="password-recovery-link">¿Has olvidado tu contraseña?</a>
                            </div>

                            <div class="button-section">
                                <div class="remember-me-container">
                                    <div class="remember-me-box">
                                        <label for="remember">Recordar mi usuario</label>
                                        <input type="checkbox" name="remember" class="remember-me"><br>
                                    </div>
                                </div>
                            </div>

                            <div class="submit-button">
                                <button type="submit" class="button">
                                    <div>
                                        <p>INICIAR SESIÓN</p>
                                    </div>
                                </button>
                            </div>
            

                        </form>

                    </div>

                    <hr class="separator">
        
                    <section class="sign-up-section">
                        <p class="legend">¿No tenes cuenta?</p>
                        <a href="/users/register"><button class="button">
                        <p>REGISTRATE EN the BooK Hut</p></button></a>
                    </section>

                </div>
            </div>
        </div>
    </main>

<script src="/js/login-validation.js"></script>
    
</body>
</html>