<!DOCTYPE html>
<html lang="en">

<!--Head-->

<%- include('partials/head', { title: 'Editando'}) %>

<!--Body-->

<body>

<!--Header-->

<%- include('partials/header') %>

<!--Main-->

    <main class="main-login">

    </main>
    
</body>
</html>