/*********** Basics *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    font-size: 12px;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
}

div.errors {
    color: red;
}

.book-image:hover {
    border: 5px solid grey
}

.hide-on-mobile {
    display: none;
}

.bg-dark-blue {
    background-color: #03364F;
}

.common-header-navbar {
    color: #D0D3D4;
    font-size: 1.5em;
    font-weight: 200;
}

.main-title {

}
/*********** Header *************/

.user-navbar {
    display: flex;
    justify-content: space-between;
    display: none;

}

/**** Menu desplegable ****/


/**** Menu desplegable ****/



.left-user-navbar {
    display: flex;
}

.right-user-navbar {
    display: flex;
}

li:hover {
    color: red;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    
}

.search-form-input {
    border: none;
    display: block;
    width: 100%;
    padding: 7px 35 px 7px 7 px;
    height: 35px;
    font-size: 1.5em;
    border-radius: 8px;
}

.search-form-button {
    position: absolute;
    right: 31px;
    height: 32%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px lightgray;
    color: gray;
    cursor: pointer;
}

.search-form-hide-on-mobile {
    display: none;
}

.center-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-section-book {
    color: #D0D3D4;
    background-color: #03364F;
    border: none;
}

.contenedor-logo {
    text-align: center;
}

.logo {
    width: 30vw;
}

.menu-center-section {
    font-size: 8vw;
}

.main-header-navbar {
    margin-top: 20px;
    display: none;
    font-size: 1.5em;
}

/*********** Header Alt *************/

header .altHeader {
    background-color: #03364F;
}
/*********** Navbar *************/

.navbar-container {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.align-items-center {
    align-items: center;
}



/************* Main **************/



/* Productos */

.product-section-wrap {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0 0;
    background: #fff;
    max-width: 100%;

}

.section-header {
    padding-top: 0;
    border-bottom: 0.1rem solid #f0f0f0;
}

.products-block-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.product-container {
    padding: 1rem;
    width: 9rem;  
}

.item-img {
    height: 11rem;
}

.item-info {
    display: inline-block;
    width: 100%;
}

.title {
    line-height: 1.2rem;
    padding-top: 0.5rem;
    height: 4rem;
    max-width: 15rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}

.author {
    color: #4d4d4d;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 1.5rem;
    max-width: 15rem;
    line-height: 2rem;
    overflow: hidden;
}

.price-wrap {
    white-space: nowrap;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    min-height: 3rem;
    margin-top: 0.5rem;
}

.price {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding-top: 0.5rem;
    color: rgb(221, 71, 139);
}

/***** Subscription *****/

.main-mail-subscription {
    font-size: 1.4rem;
    display: flex;
    
    justify-content: center;
    padding: 10px;
    color: #333;
}

.main-subscription-container {
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.main-mail-subscription-gap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.envelope-container { 
    text-align: center;
}

.envelope-container i {
    font-size: 65px;
}
.suscription-form {

}

.mail-suscription-section .suscription-text img {
    width: 5rem;
}

.subscription-button {
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    background-color: #03364F;
    color: #D0D3D4;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    align-self: center;
    margin-top: 7px;
}

/***** Social Media *****/

.footer-social-media {
    color: black;
    text-align: center;
    padding: 1.5rem;
    background: white;
    display: block;
}

.footer-social-media-list ul {
    list-style: none;
    text-align: center;
    width: 100%;
    display: block;

}

.footer-social-media-list li {
    display: inline-block;
    margin: 0;
    padding: 1rem 1.5rem 0;
    font-size: 1.8rem;

}

/************* Footer **************/ 

.footer-wrap {
    text-align: center;
    font-weight: 200;
    background-color: #03364F;
    color: #D0D3D4;
    font-size: 1.4rem;
    list-style: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-content {
    padding: 1.5rem;
}
.footer-links {
    width: 100%;
}

.footer-links-mobile {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #D0D3D4;
}

/************* Login **************/

.main-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.main-form-container {
    flex: 3 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
}

.main-box {
    max-width: 450px;
    width: 100%;
}

.main-form-gap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.section-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-container {
    display: block;
}

.form {
    text-align: left;
    

}

.group-form {
    padding-bottom: 16px;
}

.group-label {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 16px;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.label {
    color: black;
}

input {
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    /* -webkit-tap-highlight-color: transparent; */
    width: 100%;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    display: block;
    /* border: 0px; */
    background-image: none;
    appearance: none;
    border: solid 0px black;
}

.password-recovery-link {
    font-size: 0.8rem;
    padding: 5px;
    align-items: center;
    text-decoration: none;
}

.button-section {
    margin-top: 16px;
}

.remember-container {
    padding-bottom: 16px;
}

.remember-me-box {
    align-items: center;
    display: flex;
    padding-bottom: 4px;
    padding-top: 4px;
    min-height: 32px;
}

.remember-me-box label {
    padding: 5px;
}

.remember-me {
    display: initial;
    width: fit-content;
    appearance: auto;
}

.submit-button {

}

.button {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    background-color: #03364F;
    color: #D0D3D4;
    border: 0px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    align-self: center;
}

.separator {
    margin: 22px 0px 20px;
    border-top: 1px solid rgb(217, 218, 220);
}

.sign-up-section {
    text-align: center;
}

.legend {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-bottom: 20px;
}

.sign-up-section a {
    display: block;
}

/************* Login **************/



/************* Register **************/

/************* Validation **************/

.text-danger-validation {
    padding: .25rem;
    color: red;
}

.is-invalid {
    border: red solid 1px
}

/************* Product Detail **************/

.product-detail-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border:#03364F solid 1px;
    margin: 5px;
    padding: 10px;

}

.product-detail-img {
    width: 45vw;
    margin: 1rem;

}




/*************Media Queries***************/
@media (min-width: 480px) {

/***** Header *****/

.user-navbar {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    font-size: 1.4rem;
    padding: 8px;

}

.center-section {
    justify-content: left;
    align-items: center;
}


.contenedor-logo {
    padding: 1rem;
}

.logo {
    width: 190px;
}

.search-form-button {
    position: absolute;
    right: 31px;
    height: 5%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px lightgray;
    color: gray;
    cursor: pointer;
}

.main-header-navbar,
.left-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hide-on-mobile {
    display: block;
    display: flex;
}
.show-on-mobile {
    display: none;
}

.search-form {
    display: none;
}

.search-form-tablet {
    display: block;
}

.search-form-hide-on-mobile {
    display: flex;
}

.menu-center-section {
    display: none;
}

/***** Footer *****/

.footer-content-left {
    text-align: left;
    padding: 0 1.5rem;
}


@media (min-width: 768px){



.search-form-button {

}

.product-container {
    padding: 1rem;
    /* width: 14rem; */

@media (min-width: 1279px){

}
}}}